h1{
    font-family: 'Courier New';
    text-align: center;
    text-decoration: underline;
}
.button1{
    display: inline-block;
    font-family: 'Courier New';
    color: white;
    background-color: green;
    border: 2px solid green;
    text-align: center;
}
.button2{
    display: inline-block;
    font-family: 'Courier New';
    color: black;
    background-color: yellow;
    border: 2px solid yellow;
    text-align: center;
}
.button3{
    display: inline-block;
    text-decoration: underline;
    font-family: 'Courier New';
    font-weight: bold;
    color: white;
    background-color: red;
    border: 2px solid red;
    text-align: center;
}
#main {
    font-family: Arial;
    text-align: left;
    font-size: large;
}
#center{
    display: flex;
    justify-content: center;
    
}
